<h1>
    <%= title %>
</h1>

<% if (typeof errors !=="undefined" && errors.length> 0) { %>
    <ul class="errors">
        <% errors.forEach(function(error) { %>
            <li>
                <%= error %>
            </li>
            <% }) %>
    </ul>
    <% } %>

        <form action="/inv/add-vehicle" method="post" novalidate>
            <label for="make">Make:</label>
            <input type="text" id="make" name="make" value="<%= typeof make !== 'undefined' ? make : '' %>" required>

            <label for="model">Model:</label>
            <input type="text" id="model" name="model" value="<%= typeof model !== 'undefined' ? model : '' %>"
                required>

            <label for="year">Year:</label>
            <input type="number" id="year" name="year" value="<%= typeof year !== 'undefined' ? year : '' %>" required
                min="1900" max="2100">

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" value="<%= typeof price !== 'undefined' ? price : '' %>"
                required min="0">

            <label for="classification_id">Classification:</label>
            <input type="number" id="classification_id" name="classification_id"
                value="<%= typeof classification_id !== 'undefined' ? classification_id : '' %>" required>

            <button type="submit">Add Vehicle</button>
        </form>